.navbar {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.logo {
    display: flex;
    flex-direction: row;
    flex: 1;
    font-size: 36px;
    align-items: center;
    justify-content: center;
    margin-right: 120px;
}

.logo > p:first-of-type {
    font-weight: 900;
    margin-right: 10px;
}

.nav-items {                                            
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-item {
    width: 140px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link {
    all: unset;
}

.active-link {
    width: 60px;
    height: 5px;
    background: black;
    border-radius: 1000000px;
    margin-top: 15px;
    position: fixed;
    top: 90px;
    left: 0px;
    transition: 0.35s ease-in-out;
}