.home {
  padding: 30px 0px 0px 0px;
  margin: 0px;
}

.bg {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.bg-white {
  flex: 1;
  background-image: radial-gradient(closest-side, #fff, #F2F9FF);
}

.bg-yellow {
  flex: 1;
  background-image: radial-gradient(closest-side, #85FFBD, #F2C94C);
}