body {
  margin: 0;
  padding: 0;
  top: 0px;
  font-family: 'Playfair Display', serif;
}

.shadow-drop-center {
	-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.shadow-drop-center-light {
  -webkit-animation: shadow-drop-center-light 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: shadow-drop-center-light 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes shadow-drop-center-light {
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.05);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.05);
  }
}
@keyframes shadow-drop-center-light {
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.05);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.05);
  }
}